.dialog {
    width: fit-content;
    height: 90vh;
    margin: auto;
    border: none;
}

#dialogContainer {
    min-height: calc(90vh - 51px);
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.imageContainer {
    border: 1px solid darkgray;
    border-radius: 2px;
}

#newCustomerContainer {
    width: 386px;
    height: 426px;
    background-image: url(../resources/new_customer.png);
}

#addJobContainer {
    width: 386px;
    height: 144px;
    background-image: url(../resources/add_job.png);
}

#estimateDetailsContainer {
    width: 577px;
    height: 285px;
    background-image: url(../resources/estimate_details.png);
}

#estimateDescriptionContainer {
    width: 417px;
    height: 200px;
    background-image: url(../resources/estimate_description.png);
}

#closeButtonContainer {
    position: sticky;
    bottom: 0;
    margin: 0 15px;

    background: white;
    border-top: 1px solid darkgray;

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#closeButton {
    padding: 0 10px;
}

.CopyText {
    padding: 3px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.25);
    font-size: 0.8rem;
    line-height: 10px;
    
    position: relative;
}

#name {
    width: 193px;
    height: 16.5px;
    right: -115px;
    bottom: -10px;
}

#address {
    white-space: pre-line;
    overflow: auto;
    line-height: 15px;

    width: 182px;
    height: 79.5px;
    right: -154px;
    bottom: -317px;
}

#job_name {
    width: 193px;
    height: 16.5px;
    right: -116px;
    bottom: -11px;
}

#class {
    width: 177px;
    height: 18.5px;
    right: -56px;
    bottom: -16.5px;
}

#contract_date {
    width: 100px;
    height: 19px;
    right: -137px;
    bottom: -62px;
}

#salesman {
    width: 85.5px;
    height: 19px;
    right: -365px;
    bottom: -152px;
}

#source {
    width: 100px;
    height: 19px;
    right: -456px;
    bottom: -133px;
}

#price {
    text-align: right;

    width: 167px;
    height: 18.5px;
    right: -344.5px;
    bottom: -179px;
}

#job_description {
    white-space: pre-line;
    padding: 3px 5px;
    overflow: auto;
    line-height: 14px;

    width: 348px;
    height: 159px;
    right: -12.5px;
    bottom: -29px;
}