.dialog {
    width: fit-content;
    height: 90svh;
    margin: auto;
    border: none;
}

#dialogContainer {
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.imageContainer {
    border: 1px solid darkgray;
    border-radius: 2px;
}

#newCustomerContainer {
    width: 386px;
    height: 426px;
    background-image: url(../resources/new_customer.png);
}

#addJobContainer {
    width: 386px;
    height: 144px;
    background-image: url(../resources/add_job.png);
}

#estimateDetailsContainer {
    width: 577px;
    height: 285px;
    background-image: url(../resources/estimate_details.png);
}

#closeButtonContainer {
    position: sticky;
    bottom: 0;
    margin: 0 15px;

    background: white;
    border-top: 1px solid darkgray;

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#closeButton {
    padding: 0 10px;
}