#container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entryContainer {
    display: grid;
    grid-template-columns: 1fr 250px;
    justify-content: space-between;
    padding-bottom: 15px;
}

.addContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 30px;
}

.entryContainer,
.addContainer:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.label {
    align-self: center;
    font-size: 1.2rem;
}

.input,
.select {
    height: 30px;
}

.textarea {
    resize: none;
    height: 100px;
}

.input,
.textarea,
.select {
    font-size: 1rem;
    padding: 5px;
}

.input,
.input:active,
.select,
.select:active,
.textarea,
.textarea:active {
    border: 1px solid darkgray;
    border-radius: 2px;
}

.input:focus,
.select:focus,
.textarea:focus {
    outline: none;
}

.input:disabled,
.textarea:disabled {
    opacity: 50%;
}

.dynamicContainer {
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dynamicRow {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
    gap: 10px;
}

.button {
    height: 30px;
    font-size: 1rem;
}

.addButton,
.removeButton {
    width: 30px;
}

.dialog {
    width: 90svw;
    height: 90svh;
    margin: auto;
    border: none;
}

#dialogContainer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitButtonContainer {
    position: sticky;
    bottom: 0;

    background: white;
    border-top: 1px solid lightgray;

    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#submitButton,
#closeButton {
    padding: 0 10px;
}