#container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.entryContainer {
    display: grid;
    grid-template-columns: fit-content(100%) 250px;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.label {
    align-self: center;
    font-size: 1.2rem;
}

.input,
.textarea,
select {
    font-size: 1rem;
    padding: 10px;
}

.textarea {
    resize: none;
    height: 100px;
}