#container {
    margin-bottom: 15px;
    background-color: #202F64;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleContainer {
    text-align: right;
}

#title {
    color: white;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4rem;
}

#subtitle {
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1rem;
}